@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<div class="row">
    <div class="col-md-12">

        <div>
        <img class="img-responsive GuysClothing" src="~/Content/images/guys clothing.png" alt="GuysClothing" />
         </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit id mauris id lacinia. Nulla facilisi. Suspendisse molestie, est ut malesuada eleifend, tortor nisl porta lorem, vitae dictum ligula massa id libero. Donec ac accumsan nunc. Morbi non dui eleifend, posuere dolor ut, viverra arcu. Integer risus lectus, ultricies sed vehicula id, lacinia a metus. Vivamus imperdiet justo non dolor consequat semper. Quisque sapien lectus, sagittis sed ultricies et, viverra quis felis. Sed iaculis finibus purus sit amet fermentum. Praesent odio nisl, mollis vitae blandit sed, dignissim id velit. Aliquam nec semper ipsum. Nam ligula tortor, pulvinar sed elementum eget, pharetra et nisi.

            Aenean malesuada arcu leo, et ultrices nibh molestie varius. Nam a sem arcu. Cras viverra, mauris et iaculis eleifend, eros metus fringilla massa, ac pretium eros elit eget nulla. Ut rhoncus blandit ultricies. In hac habitasse platea dictumst. Quisque sed augue laoreet, consectetur tortor in, fermentum neque. Duis consequat velit vitae libero molestie, eu rhoncus metus rhoncus. Nulla sed tempor enim. Vestibulum commodo cursus ex, ut finibus nibh. Vivamus urna mauris, scelerisque eu eros in, pharetra bibendum magna. Donec urna nulla, ultricies eu sem sit amet, fringilla consequat tortor. Vivamus leo dui, consequat id consectetur vitae, ullamcorper vitae eros. Praesent condimentum nunc non erat fringilla, at eleifend nibh imperdiet. Aliquam erat volutpat. Duis tempus bibendum porttitor.

            Suspendisse iaculis dictum odio id luctus. Aenean iaculis malesuada arcu quis semper. Maecenas maximus mi est, sit amet ultrices erat lacinia ac. Phasellus nunc est, consectetur facilisis ante vitae, sollicitudin mattis lacus. Praesent eu facilisis arcu, in interdum risus. Praesent pulvinar elit a cursus aliquam. Nullam rutrum nisi nec orci ornare, ut ultrices arcu gravida. Aliquam sagittis nisi eget blandit sollicitudin. Vivamus tellus dolor, vulputate eget sollicitudin et, convallis sit amet est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque laoreet, nisi eget porttitor pharetra, erat augue ullamcorper arcu, sit amet suscipit purus tortor in neque.

            Morbi enim justo, sollicitudin ac diam ac, porttitor efficitur nisl. Proin auctor gravida iaculis. Ut ac fermentum justo. Phasellus tempor dui eu placerat egestas. Pellentesque laoreet at dui non iaculis. Fusce vitae faucibus enim. Donec euismod nulla metus, a efficitur ligula vestibulum vitae.
        </p>

    </div>

</div>

<div class="row">
    <div class="col-md-4">

        <img class="img-responsive WristWatch"src="~/Content/images/wristwatch.jpg" alt="WristWatch"/>

        </div>


        <div class="col-md-8">

            <img class="img-responsive GuysWalking" src="~/Content/images/guys walking.jpg"alt="GuysWalking" />

            </div>







            @*<h2>Getting started</h2>
                    <p>
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Get more libraries</h2>
                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Web Hosting</h2>
                    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                </div>
            </div>*@
